<div class="videos">
  <div class="childVideos">

    <div class="boxVideos">
      <h3>Cambio de Era</h3>
      <video controls>
        <source [src]="video" >
      </video>
    </div>

    <div class="boxVideos">
      <h3>Proyección de la Empresa</h3>
      <video controls>
        <source src="../../../assets/video/proyeccion.mp4" >
      </video>
    </div>
    
    <!-- <div class="boxVideos">
      <h3>qué es INCLUB?</h3>
      <video controls>
        <source src="../../../assets/video/que-es-inclub.mp4" >
      </video>
    </div> -->
    <!-- <div class="boxVideos">
      <h3></h3>
      <video controls>
        <source [src]="video" >
      </video>
    </div> -->
  </div>
</div>