<div class="videos">
  <div class="childVideos">
    <div class="boxVideos">
      <iframe allowfullscreen src="https://player.vimeo.com/video/698364268?color&amp;autopause=0&amp;loop=0&amp;muted=0&amp;title=1&amp;portrait=1&amp;byline=1#t="></iframe>
    </div>
    <div class="boxVideos">
      <iframe allowfullscreen src="https://player.vimeo.com/video/698364268?color&amp;autopause=0&amp;loop=0&amp;muted=0&amp;title=1&amp;portrait=1&amp;byline=1#t="></iframe>
    </div>
    <div class="boxVideos">
      <iframe allowfullscreen src="https://player.vimeo.com/video/698364268?color&amp;autopause=0&amp;loop=0&amp;muted=0&amp;title=1&amp;portrait=1&amp;byline=1#t="></iframe>
    </div>
    <div class="boxVideos">
      <iframe allowfullscreen src="https://player.vimeo.com/video/698364268?color&amp;autopause=0&amp;loop=0&amp;muted=0&amp;title=1&amp;portrait=1&amp;byline=1#t="></iframe>
    </div>
  </div>

</div>